language: node_js

node_js:
  - "6"
  - "8"
  - "9"
  - "node"

sudo: false

script:
  - npm run lint
  - npm run sonar
  - npm test

after_script:
  - npm run coveralls

deploy:
  provider: npm
  skip_cleanup: true
  email: ${NPM_EMAIL}
  api_key: ${NPM_AUTH_TOKEN}
  on:
    tags: true
